/* ======================================== */
/* =                                      = */
/* =           Socials Utilities          = */
/* =                                      = */
/* ======================================== */


.u-socialYoutube { background-color: #E22D27; }
.u-socialFacebook { background-color: #3D5A98; }
.u-socialTwitter { background-color: #1DA1F2; }
.u-socialInstagram { background-color: #353535; }
.u-socialTwitch { background-color: #6441A4; }
.u-socialReddit { background-color: #ef5a37; }

// .u-platformPSN {}
// .u-platformPC {}