.s-lifestyle {
    &__parallax {
        height: 25em;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}