.s-image {

    $root: &;

    .e-picture {
        display: block;
        img { margin: 0 auto; }
    }
    
    &--fullWidth {
        .e-picture {
            img { width: 100%; }
        }
    }

    html[dir="rtl"] & {
    }
}