.l-masonry {
    position: relative;
    &__ {
        &container {
            position: relative;
        }
    }
    &-- {
        &horizontal {}
        &center {
            display: flex;
            justify-content: center;
        }
    }
}