@charset "UTF-8";

// Default Variables
/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOCIgaGVpZ2h0PSIzOCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iOC4wNDIlIiB4Mj0iNjUuNjgyJSIgeTE9IjAlIiB5Mj0iMjMuODY1JSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSI2My4xNDYlIiBzdG9wLW9wYWNpdHk9Ii42MzEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiPjxwYXRoIHN0cm9rZT0idXJsKCNhKSIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMzYgMThjMC05Ljk0LTguMDYtMTgtMTgtMTgiLz48Y2lyY2xlIGN4PSIzNiIgY3k9IjE4IiByPSIxIiBmaWxsPSIjMDAwIi8+PC9nPjwvc3ZnPg==) center center no-repeat;
    }
}

/* Dots */
.slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        margin: 0 1px;
        padding: 0 0.25rem;
        cursor: pointer;
        svg {
            width: 0.5rem;
            height: 0.5rem;
            fill: white;
        }
        &.slick-active svg { fill: $slick-svg-fill; }
    }
}
