.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0,0,0,0.9);
	cursor: pointer;
	.close {
		svg {
			width: 3em;
			height: 3em;
			fill: $accent-2;
			@media screen and (min-width: $screen-md) {
				width: 3.375em;
				height: 3.375em;
			}
		}
	}
	.overlay-header { text-align: right;}
	.overlay-body {
		position: relative;
		padding: 0.5rem;
	}
}

// --- VIDEO OVERLAY: BEGIN --- //
.overlay-video, .overlay-photo {
	> * {
		display: table-row;
		> * { display: table-cell; }
	}
	.overlay-header {
		.overlay-cell { height: 5vh; }
		a.close {
			display: inline-block;
			line-height: 0;
			background: white;
		}
	}
	.overlay-body {
		.overlay-cell {
			text-align: center;
			height: 95vh;
			vertical-align: middle;
		}
	}
	iframe.video-embed {
		width: 100%;
		height: 56vw;
		max-width: 1920px;
		max-height: 80vh;
		border: 0;
		margin: auto;
		display: block;
	}
}
// --- VIDEO OVERLAY: END --- //
