.c-reviewCard {
    padding: 0 0.75em;
    p {
        margin-bottom: 0.5em;

        &:before {
            content: '\201C';
            display: block;
            float: left;
            height: 2rem;
            width: 2.5rem;
            margin: 0.25rem 0.5rem 0 0;
            font-size: 7rem;
            line-height: 5.5rem;
            color: $reviewcard-before;
        }

        &:after {
            content: '\201D';
        }
    }

    a {
        display: inline-block;
        margin-bottom: 0.625rem;
    }

    img {
        display: block;
    }
}