$cartItem-kit-color: white;
$cartItem-kit-bg: #353535;

$cartItem-trashcan-icon: transparent;
$cartItem-trashcan-border: transparent;
$cartItem-trashcan-hover: $silver;
$cartItem-trashcan-color: white;
