$configuratorResultsCard-bg-color: white;
$configuratorResultsCard-border-radius: 0.625em;
$configuratorResultsCard-header-color: $coal;
$configuratorResultsCard-bg-color-border: $silver;
$configuratorResultsCard-bg-bankSchema-color: $pearl;
