$dialog-header-background: black;
$dialog-closeBtn-background: white;
$dialog-notClose-color: white;
$dialog-border-color: $cloudy;

$dialog-form-header-backgroundColor: $darkslate;
$dialog-form-header-padding: 2em 1.25em 1em;

$dialog-form-closeBtn-backgroundColor: transparent;
$dialog-form-closeBtn-borderColor: transparent;
$dialog-form-closeBtn-transformY: 0;

$dialog-form-content-p-fontSize: 0.75rem;
$dialog-form-content-p-firstChild-fontSize: 1em;
$dialog-form-content-p-marginBottom: 1rem;

$dialog-form-recaptcha-link: $coal;
