$productCard4-bg-color: white;

$productCard4-header-kitName-color: $slate;

$productCard4-kit-bg-color: $coal;
$productCard4-kit-color: white;

$productCard4-etag-bg-color: $coal;
$productCard4-etag-color: white;

$productCard4-selectionsBtn-text-color: white;
$productCard4-selectionsBtn-font-color: $coal;
$productCard4-selectionsBtn-outline-color: rgba(53, 53, 53, 0.25);
$productCard4-selectionsBtn-bg-color-active: $coal;
$productCard4-selectionsBtn-text-color-active: white;
$productCard4-selectionsBtn-outline-color-active: rgba(0, 0, 0, 0.15);

$productCard4-showDesc-color: $link-color;
$productCard4-showDesc-color-hover: $link-hover;

$productCard4-buyBtn-color: $link-color;
$productCard4-buyBtn-color-active: transparent;
$productCard4-buyBtn-color-hover: $link-hover;
$productCard4-arrow-color: $link-color;
$productCard4-arrow-color-active: $coal;
$productCard4-arrow-color-hover: $link-hover;
$productCard4-cta-partners-link: $midnight;

$productCard4-buyBtn-color-focus: $coal;
$productCard4-buyBtn-bg-focus: rgba(255, 255, 255, 0.05);
$productCard4-buyBtn-outline-focus: rgba(0, 0, 0, 0.15);

$productCard4-strike-color: $granite;

$productCard4-quantity-bg-color: white;
$productCard4-quantity-svg-color: black;
$productCard4-quantity-svg-color-disable: $silver;
$productCard4-quantity-border-color: $silver;

$productCard4-selectionBtn-transitionSpeed: 250ms;
