$searchcard-border: $silver;
$searchcard-header: $stone;
$searchcard-body: white;
$searchcard-singleBar-margin: 0.5em 0;
$searchcard-singleBar-padding: 0 0.625em 0 0.625em;
$searchcard-outlined-radius: 0.375em;
$searchcard-singleBar-padding-rtl: 0 0.625em 0 0.625em;
