$systemScanResultsCard-total-font-weight: $font-base-weight;
$systemScanResultsCard-bg-color: $pearl;
$systemScanResultsCard-border-radius: 0.625em;
$systemScanResultsCard-header-color: $coal;
$systemScanResultsCard-bg-color-important: white;

$systemScanResultsCard-dropDown-bg-color: $coal;
$systemScanResultsCard-dropDown-input-color: white;
$systemScanResultsCard-dropDown-label-color: white;

$systemScanResultsCard-dropDown-icon-color: white;
$systemScanResultsCard-dropDown-icon-bg-color: #6c7175;
$systemScanResultsCard-dropDown-panel-item-color: white;
$systemScanResultsCard-dropDown-panel-item-hover-color: #6c7175;

$systemScanResultsCard-radioBtn-default: transparent;
$systemScanResultsCard-radioBtn-checked: #c41320;
$systemScanResultsCard-radioBtn-hover: #c41320;
$systemScanResultsCard-radioBtn-border-color: #cfcfcf;
$systemScanResultsCard-radioBtn-speed: 250ms;
