$form2-svg-fill: $coal;

$form2-label-color: $granite;
$form2-borderColor: $cloudy;
$form2-color-disabled: $cloudy;

$form2-outline-borderRadius: 0.375em;
$form2-outline-textarea-padding: 0.3em 0;

$form2-reactive-margin-bottom: 0.125em;
$form2-icon-fill: $coal;
