$sPhotoGallery-overlayControls-bg: rgba(0, 0, 0, 0.7);
$sPhotoGallery-slick-disabled: $cloudy;
$sPhotoGallery-overlayControls-btn-svg: white;
$sPhotoGallery-overlayControls-btn-svg-hover: $accent-2;

$sPhotoGallery-text: white;

$sPhotoGallery-controls-btn-bg: white;
$sPhotoGallery-controls-bg: rgba(0, 0, 0, 0.7);
$sPhotoGallery-controls-btn-svg: $denim;
$sPhotoGallery-controls-btn-svg-hover: $accent-2;
