$glass-bg-color: rgba(255, 255, 255, 0.05);
$glass-filter: blur(4px);
$glass-bg-color-hover: rgba(255, 255, 255, 0.1);
$glass-filter-hover: blur(5px);
$promo-btn-alt1-text: black;
$promo-btn-alt1-bg: $glass-bg-color;
$promo-btn-alt1-bg-filter: $glass-filter;
$promo-btn-alt1-bg-hover: $glass-bg-color-hover;
$promo-btn-alt1-bg-hover-filter: $glass-filter-hover;
