$supportContact-font-weight: $font-base-weight;
$supportContact-font-color: $font-base-color;
$supportContact-tab-borderBottom-color: $silver;
$supportContact-tab-font-family: $font-1-family;
$supportContact-tab-color-hover: $link-color;
$supportContact-number-font-weight: $font-1-weight-bold;
$supportContact-number-color: $accent-1;
$supportContact-icon-color: black;
$supportContact-inactive-color: black;
$supportContact-inactive-border-color: $midnight;
