$systemScanResults-bg-color: $silver;
$systemScanResults-gutter: 1em;
$systemScanResults-tab-active-color: black;
$systemScanResults-mobile-bg-color: $coal;
$systemScanResults-mobile-dropDown-bg-color: #6c7175;
