$font-base-size: 1em;
$font-base-lineheight: 1.5;
$font-base-color: $coal;
$font-base-weight: $font-1-weight-normal;

$font-hero-family: $font-1-family;
$font-hero-weight: $font-1-weight-normal;

$link-color: $denim;
$link-hover: $denim;
$link-active: black;
