.v-dropDown {
  min-width: 13em;
  text-align: left;
  display: inline-block;
  width: auto;
  background: $v-toggleBg;
  border-radius: 500px;

  &__ {
    &icon {
      fill: white;
      vertical-align: baseline;
      margin: 0 0.375em 0 0;
    }
    &chevron {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-45%);
      transform-origin: center;
      width: 1em;
      .c-dropDown--active & {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .c-dropDown__toggler {
    line-height: normal;
    padding: 0.35em 2.75em 0.35em 1em;
    min-height: 1.65rem;
  }
  .c-dropDown__panel {
    background: $v-toggleBg;
    margin-top: 0.5em;
    border-radius: 15px;
    > ul {
      padding: 0.75em 0;
      overflow: scroll;
      max-height: 8em;
      li {
        padding: 0.25em 1em;
        cursor: pointer;
        &:hover {
          background: $v-mainBg;
        }
        &[data-selected] {
          display: none;
        }
      }
    }
  }
}
