// -- DEFAULT CARD
$articleCard2_color_BG   :   $gallery;

// -- DARK CARD
$articleCard2_dark_color_BG   :   #000;
$articleCard2_dark_color_link :   #000;
$articleCard2_dark_color_link_hover :   $gold;