$productCard3__overlay__color: $mainred;
$productCard3-image-backgroundColor: $gallery;
$productCard3-content-longDesc: $mineshaft;
$productCard3-header-link-name: $night;$productCard3-cont-selection: $dusty;
$productCard3-foot-price-strike: $dusty;
$productCard3-tab-bg-color: $night;