$tooltipMessage-color: black;

// -- Tooltip Message Color
$tooltipMessage-backgroundColor: $alto;

// -- Tooltip Message Color -- Helper
$tooltipMessage-backgroundColor-helper: $dusty;

// -- Tooltip Message Color -- Error
$tooltipMessage-backgroundColor-error: $mainred;

// -- Tooltip Message Border Radius
$tooltipMessage-borderRadius: 0.125rem;

// -- Tooltip Message Max-Width
$tooltipMessage-maxWidth: 21.875rem;