$form1-radioBtn-disabled-label-color : $night;
$form1-radioBtn-disabled-label-borderColor : $silver;

$form1-inputGroup-pw-borderColor: $dusty;

$color-radio-bg         : $gallery;
$color-radio-border     : $mineshaft;
$color-btn-quant-hover  : $alto;