$footer_font_size: 95%;

// -- Footer Section Title Color
$footer-sectionTitle-color: $black;

// -- Footer Section Title Hover Color
$footer-sectionTitle-hoverColor: $accent-3;

// -- Email Container Background Color
$email-container-background: $mercury;

$footer-links-color: $night;

$footer-links-color-hover: $link-color;