// -- Table Heading
$table-heading-background: $mercury;

// -- Table Striped
$table-striped-background: $faint;

// -- Table CTA
$table-cta-background: $mercury;

// -- Table Border
$table-border-color: $mercury;
